<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<title>Tweetmill</title>
<link rel="stylesheet" href="static/app.css" type="text/css" media="screen" charset="utf-8">

</head>
<body>  
  <div class="main">
    <header>
      <a href="/" class="logo"></a>
      <span class="tagline">a twitter bot for readmill</span>
    </header>
    
    <section class="welcome">
      <h3 class="welcome-header">Hi, and welcome to Tweetmill.</h3>
      <p class="welcome-text">I'm a bot that lives inside of Twitter and if you send me something about a book you're reading I'll make that into something sharable on Readmill. Connect with your account to get started.<p>
        
      <a id="authorize" href="/auth/readmill"></a>
      
      <a href="/thanks">Need help with how to talk to me? Click here!</a>
      
    </section>
      </div>
</body>
</html>