<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<title>Tweetmill</title>
<link rel="stylesheet" href="static/app.css" type="text/css" media="screen" charset="utf-8">

</head>
<body>  
  <div class="main">
    <header>
      <a href="/" class="logo"></a>
      <span class="tagline">a twitter bot for readmill</span>
    </header>
    
    <section class="thanks">
      <div>
        <h2>Thanks!</h2>
        <h3>This is the langugage I can understand:</h3>
        <ul class="instructions">
          <li class="instruction">
            <h4>ISBN start</h4>
            <p>Start reading a book with the ISBN. Remember that ISBN, this is how we know which book you're talking about</p>
            <span class="example">e.g: 0684830426 start</span>
          </li>
          <li class="instruction">
            <h4>ISBN finish</h4>
            <p>This is how you let me know that you've finished</p>
            <span class="example">e.g: 0684830426 finish</span>
          </li>
          <li class="instruction">
            <h4>ISBN abandon</h4>
            <p>Forget about this book and move on</p>
            <span class="example">e.g: 0684830426 abandon</span>
          </li>
          <li class="instruction">
            <h4>ISBN 30</h4>
            <p>You've finished 30% of the book, this is how you let me know about it.</p>
            <span class="example">e.g: 0684830426 30</span>
          </li>
          <li class="instruction">
            <h4>ISBN "An awesome highlight"</h4>
            <p>Reading right now and want to share something? This is how!</p>
            <span class="example">0684830426 "Twitter is a command line interface for the web"</span>
          </li>
        </ul>
        
        <span>That's all! Bugs, questions or love to <a href="mailto:henrik@readmill.com">henrik@readmill.com</a></span>
      </div>
      
      </form>
    </section>
    
  </div>
  <br>
</body>
</html>
