<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<title>Tweetmill</title>
<link rel="stylesheet" href="/static/app.css" type="text/css" media="screen" charset="utf-8">

</head>
<body>  
  <div class="main">
    <header>
      <a href="/" class="logo"></a>
      <span class="tagline">a twitter bot for readmill</span>
    </header>
        
    <section class="twitter-handle">
      <label class="twitter-handle-label">I need to know your Twitter handle to recognize you</label>
      <form action="/done" class="twitter-handle-form" method="post">
        <label class="twitter-handle-atlabel">@</label>
        <input type="text" name="twitter_handle" class="twitter-handle-input" />
        <input type="hidden" name="access_token" value="<%= @access_token %>" />
        <input type="submit" class="twitter-handle-submit" value="next"/>
      </form>
    </section>
        
  </div>
</body>
</html>
