@font-face {
  font-family: 'ScalaRegular';
  src: url('scalasans-regular-webfont.eot');
  src: local('☺'), url('scala-webfont.woff') format('woff'), url('scala-webfont.ttf') format('truetype'), url('scala-webfont.svg#webfontCQuAe3BJ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScalaItalic';
  src: url('scala-italic-webfont.eot');
  src: local('☺'), url('scala-italic-webfont.woff') format('woff'), url('scala-italic-webfont.ttf') format('truetype'), url('scala-italic-webfont.svg#webfontlIRgPCMX') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScalaSansSCRegular';
  src: url('scalasans-regularsc-webfont.eot');
  src: local('☺'), url('scalasans-regularsc-webfont.woff') format('woff'), url('scalasans-regularsc-webfont.ttf') format('truetype'), url('scalasans-regularsc-webfont.svg#webfontFFDkSr83') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'ScalaRegular';
  color: white;
  background: url(rm-bg.png) #000e22;
}

a {
  color: #58852c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


header {
  display: relative;
}

.connect-box p {
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
  margin: 20px auto 0;
  width: 400px;
  text-align: center;
  font-family: 'ScalaRegular', georgia;
}


a#authorize {
  display: block;
  background: url(connect.png) no-repeat 0 0;
  width: 237px;
  height: 49px;
  margin: 0 auto;
}
a#authorize:hover { background-position: 0 -50px; }
a#authorize:active { background-position: 0 -100px; }


header .fade {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  /*background-color: #000e22;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 14, 34, 1.00)), to(rgba(0, 0, 0, 0.00)));
  background-image: -webkit-linear-gradient(top, rgba(0, 14, 34, 1.00), rgba(0, 0, 0, 0.00));
  background-image: -moz-linear-gradient(top, rgba(0, 14, 34, 1.00), rgba(0, 0, 0, 0.00));
  background-image: -o-linear-gradient(top, rgba(0, 14, 34, 1.00), rgba(0, 0, 0, 0.00));
  background-image: -ms-linear-gradient(top, rgba(0, 14, 34, 1.00), rgba(0, 0, 0, 0.00));
  background-image: linear-gradient(top, rgba(0, 14, 34, 1.00), rgba(0, 0, 0, 0.00));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000e22', EndColorStr='#000000');
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}